POSTGRES_DB=kan
POSTGRES_USER=kan
POSTGRES_PASSWORD=
POSTGRES_URL=
REDIS_PASSWORD=
REDIS_URL=
MINIO_ROOT_USER=kan-minio-root
MINIO_ROOT_PASSWORD=
S3_ACCESS_KEY_ID=kan-app
S3_SECRET_ACCESS_KEY=
S3_REGION=us-east-1
S3_ENDPOINT=http://minio:9000
S3_PUBLIC_ENDPOINT=https://work.imanleads.com
S3_FORCE_PATH_STYLE=true
S3_AVATAR_UPLOAD_LIMIT=10485760
NEXT_PUBLIC_KAN_ENV=production
NEXT_PUBLIC_BASE_URL=https://work.imanleads.com
BETTER_AUTH_SECRET=
BETTER_AUTH_TRUSTED_ORIGINS=https://work.imanleads.com
KAN_ADMIN_API_KEY=
LOG_LEVEL=info
NEXT_PUBLIC_DISABLE_EMAIL=true
NEXT_PUBLIC_ALLOW_CREDENTIALS=true
NEXT_PUBLIC_DISABLE_SIGN_UP=false
NEXT_PUBLIC_STORAGE_URL=https://work.imanleads.com
NEXT_PUBLIC_AVATAR_BUCKET_NAME=kan-avatars
NEXT_PUBLIC_WORKSPACE_LOGOS_BUCKET_NAME=kan-workspace-logos
NEXT_PUBLIC_ATTACHMENTS_BUCKET_NAME=kan-attachments
NEXT_PUBLIC_STORAGE_DOMAIN=work.imanleads.com
NEXT_PUBLIC_USE_VIRTUAL_HOSTED_URLS=false
NEXT_PUBLIC_WHITE_LABEL_HIDE_POWERED_BY=false
NEXT_API_BODY_SIZE_LIMIT=55mb
